# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_TPS40_LEFT

config ZMK_KEYBOARD_NAME
    default "TPS40"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TPS40_LEFT || SHIELD_TPS40_RIGHT

config ZMK_SPLIT
    default y

config ZMK_DISPLAY
	select LV_USE_CONT
	select LV_FONT_MONTSERRAT_26
	

choice ZMK_DISPLAY_STATUS_SCREEN
	default ZMK_DISPLAY_STATUS_SCREEN_BUILT_IN

endchoice


if ZMK_DISPLAY

config SPI
	default y

config LS0XX
	default y

config LV_Z_BITS_PER_PIXEL
	default 1

choice LV_COLOR_DEPTH
	default LV_COLOR_DEPTH_1

endchoice

endif # ZMK_DISPLAY

endif # SHIELD_TPS40_LEFT || SHIELD_TPS40_RIGHT