# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_DIGITI_LEFT

config ZMK_KEYBOARD_NAME
	default "Digiti"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif # BOARD_DIGITI_LEFT

if BOARD_DIGITI_RIGHT

	config ZMK_KEYBOARD_NAME
	default "Digiti Right"

endif # BOARD_DIGITI_RIGHT


if BOARD_DIGITI_LEFT || BOARD_DIGITI_RIGHT

config BOARD
	default "digiti"

config ZMK_SPLIT
	default y

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

config ZMK_BATTERY_VOLTAGE_DIVIDER
	default y

config ZMK_DISPLAY
	select LV_USE_CONT
	select LV_FONT_MONTSERRAT_26
    select LV_USE_IMG
	select LV_USE_LABEL


if ZMK_DISPLAY

config SPI
	default y

config LS0XX
	default y

config LV_Z_BITS_PER_PIXEL
	default 1

choice LV_COLOR_DEPTH
	default LV_COLOR_DEPTH_1

endchoice

endif # ZMK_DISPLAY

if USB
config USB_NRFX
	default y
config USB_DEVICE_STACK
	default y
endif # USB

menuconfig CUSTOM_WIDGET_BATTERY_STATUS
	bool "custom battery status widget"

menuconfig CUSTOM_WIDGET_LAYER_STATUS
	bool "custom layer status widget"
	
menuconfig CUSTOM_WIDGET_OUTPUT_STATUS
	bool "custom output status widget"

menuconfig CUSTOM_WIDGET_PERIPHERAL_STATUS
	bool "custom perihperal status widget"

endif # BOARD_DIGITI_LEFT || BOARD_DIGITI_RIGHT