# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_BUZZARD_LEFT

config ZMK_KEYBOARD_NAME
    default "Buzzard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_BUZZARD_LEFT || SHIELD_BUZZARD_RIGHT

config ZMK_SPLIT
    default y

config ZMK_DISPLAY
	select LVGL_USE_CONT
	select LVGL_FONT_MONTSERRAT_26
	

choice ZMK_DISPLAY_STATUS_SCREEN
	default ZMK_DISPLAY_STATUS_SCREEN_BUILT_IN

endchoice


if ZMK_DISPLAY

choice LVGL_THEME_DEFAULT_FONT_SMALL
    default LVGL_THEME_DEFAULT_FONT_SMALL_MONTSERRAT_36

endchoice

config LVGL_HOR_RES_MAX
	default 160

config LVGL_VER_RES_MAX
	default 68

config SPI
	default y

config LS0XX
	default y

config LVGL_BITS_PER_PIXEL
	default 1

choice LVGL_COLOR_DEPTH
	default LVGL_COLOR_DEPTH_1

endchoice

config LVGL_DPI
	default 30

config LVGL_VDB_SIZE
	default 16

endif # ZMK_DISPLAY

endif # SHIELD_BUZZARD_LEFT || SHIELD_BUZZARD_RIGHT